* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(77, 4, 77);
    color: #fff;
    font-size: 54px;
}

.hidden {
    display: none;
    color: aquamarine;
}

.highlighted {
    font-weight: bold;
    color: red;
}